{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
  <div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
      <div class='page-content'>
        <div class='container-fluid'>
          <!-- start page title -->
          <div class='row'>
            <div class='col-12'>
              <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                <h4 class='mb-sm-0 font-size-18'>Adicionar financeiro</h4>
                <div class='page-title-right'>
                  <ol class='breadcrumb m-0'>
                    <li class='breadcrumb-item'>Etiquetas</li>
                    <li class='breadcrumb-item active'>Formulário Financeiro</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- end page title -->
          <div class='row'>
            <div class='col-12'>
              <div class='card'>
                <div class='card-body'>
                  <div class='row mb-2'>
                    <div class='col-sm-4'>
                      <h4 class='card-title'>Informação financeira</h4>
                      <p class='card-title-desc'>Selecione o tipo de etiqueta e aguarde o formulário aparecer</p>
                    </div>
                    <div class='col-sm-8'>
                      <div class='text-sm-end'>
                        <a class='btn btn-outline-secondary waves-effect waves-light mb-3 w-md' href="{{ url_for('board.labels_financial') }}">
                          Retornar
                        </a>
                      </div>
                    </div><!-- end col-->
                  </div>
                  {% if success %}
                    <div class='alert alert-success mb-4' role='alert'>{{ success }}</div>
                  {% elif error %}
                    <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                  {% endif %}
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='mb-3'>
                        <label class='control-label'>Tipo de etiqueta</label>
                        <select class='form-control select2-search-disable' id='financial_label_choise'>
                          <option selected disabled>Selecione o tipo de etiqueta</option>
                          <option value='BA'>Conta bancária</option>
                          <option value='CC'>Centro de custo</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class='card d-none' id='cost_center_label'>
                <div class='card-body'>
                  <h4 class='card-title'>Informações do Centro de Custo</h4>
                  <p class='card-title-desc'>Preencha todas as informações abaixo</p>
                  <form class='needs-validation' method='post' action="{{ url_for('board.labels_financial_form_new') }}" novalidate>
                    {{ csrf_token }}
                    <input type='hidden' name='label_type' value='CC'>
                    <div class='row'>
                      <div class='col-md-4'>
                        <div class='mb-3'>
                          <label for='cost_center' class='form-label'>Nome do Centro de Custo<span class='text-danger'>*</span></label>
                          <input type='text' class='form-control valid_entry' id='cost_center' name='cost_center'
                            placeholder='Digite o nome do centro de custo' required>
                          <div class='invalid-feedback'>Forneça um nome de centro de custo</div>
                        </div>
                      </div>
                      <div class='col-md-8'>
                        <div class='mb-3'>
                          <label for='description' class='form-label'>Descrição</label>
                          <input type='text' class='form-control valid_opt_entry' id='description' name='description'
                            placeholder='Insira a descrição do centro de custo, se aplicável'>
                          <div class='invalid-feedback'></div>
                        </div>
                      </div>
                    </div>
                    <div class='d-flex flex-wrap gap-2'>
                      <button type='submit' class='btn btn-primary waves-effect waves-light'>Salvar Etiqueta</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class='card d-none' id='account_label'>
                <div class='card-body'>
                  <h4 class='card-title'>Informações de conta bancária</h4>
                  <p class='card-title-desc'>Preencha todas as informações abaixo</p>
                  <form class='needs-validation' method='post' action="{{ url_for('board.labels_financial_form_new') }}" novalidate>
                    {{ csrf_token }}
                    <input type='hidden' name='label_type' value='BA'>
                    <div class='row'>
                      <div class='col-md-4'>
                        <div class='mb-3'>
                          <label for='bank' class='form-label'>Nome do banco<span class='text-danger'>*</span></label>
                          <input type='text' class='form-control valid_entry_nd' id='bank' name='bank'
                            placeholder='Insira o nome do banco' required>
                          <div class='invalid-feedback'>Forneça um nome de banco</div>
                        </div>
                      </div>
                      <div class='col-md-4'>
                        <div class='mb-3'>
                          <label for='branch' class='form-label'>Número da agência bancária<span class='text-danger'>*</span></label>
                          <input type='text' class='form-control mask_number' id='branch' name='branch'
                            placeholder='Digite o número da agência bancária' required>
                          <div class='invalid-feedback'>Por favor, forneça o número da sua agência bancária</div>
                        </div>
                      </div>
                      <div class='col-md-4'>
                        <div class='mb-3'>
                          <label for='account' class='form-label'>Número de conta<span class='text-danger'>*</span></label>
                          <input type='text' class='form-control mask_number' id='account' name='account'
                            placeholder='Digite o número da conta' required>
                          <div class='invalid-feedback'>Forneça o número da sua conta</div>
                        </div>
                      </div>
                    </div>
                    <div class='d-flex flex-wrap gap-2'>
                      <button type='submit' class='btn btn-primary waves-effect waves-light'>Salvar etiqueta</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->
    </div>
    <!-- end main content-->
  </div>
</body>

{% include 'board/partials/footer.html' %}