{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
  <div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
      <div class='page-content'>
        <div class='container-fluid'>
          <!-- start page title -->
          <div class='row'>
            <div class='col-12'>
              <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                <h4 class='mb-sm-0 font-size-18'>Categorias</h4>
                <div class='page-title-right'>
                  <ol class='breadcrumb m-0'>
                    <li class='breadcrumb-item'>Etiquetas</li>
                    <li class='breadcrumb-item active'>Categorias</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- end page title -->

          <div class='row'>
            <div class='col-12'>
              <div class='card'>
                <div class='card-body'>
                  <div class='row'>
                    <div class='col-sm-12'>
                      <div class='text-sm-end'>
                        <a class='btn btn-primary waves-effect waves-light mb-3' href="{{ url_for('board.labels_categories_form') }}">
                          <i class='mdi mdi-plus'></i> Adicionar Categoria
                        </a>
                      </div>
                    </div><!-- end col-->
                  </div>
                  <hr class='mt-0 mb-3'>
                  <form class='form-horizontal' action="{{ url_for('board.labels_categories') }}" method='get'>
                    <div class='row mb-3 align-items-end'>
                      <div class='col-sm-3'>
                        <div class='mb-3'>
                          <label for='type'>Tipo</label>
                          <select class='form-select select2-search-disable' id='type' name='type'>
                            <option value='' {% if not context.filter.type %}selected{% endif %}>Todos os Tipos</option>
                            <option value='1' {% if context.filter.type == '1' %}selected{% endif %}>Renda</option>
                            <option value='2' {% if context.filter.type == '2' %}selected{% endif %}>Gasto</option>
                          </select>
                        </div>
                      </div>
                      <div class='col-sm-3'>
                        <div class='mb-3'>
                          <label for='label'>Categoria</label>
                          <select class='form-select select2' id='label' name='label'>
                            {% if context.labels %}
                              <option value='' {% if not context.filter.label %}selected{% endif %}>Todas as Categorias</option>
                              {% for row in context.labels %}
                                <option {% if context.filter.label == row.cat_slug|md5 %}selected{% endif %} value='{{ row.cat_slug|md5 }}'>
                                  {{ row.cat_name }}
                                </option>
                              {% endfor %}
                            {% else %}
                              <option value='' selected disabled>Não há categoria disponível</option>
                            {% endif %}
                          </select>
                        </div>
                      </div>
                      <div class='col-sm-4'>
                        <div class='mb-3'>
                          <label for='search'>Subcategoria</label>
                          <input type='text' class='form-control' id='search' name='search' 
                            placeholder='Pesquise pelo nome da Subcategoria'
                            value='{% if context.filter.search %}{{ context.filter.search }}{% endif %}'>
                        </div>
                      </div>
                      <div class='col-sm align-self-end'>
                        <div class='mb-3'>
                          <div class='text-sm-end d-grid'>
                            <button type='submit' class='btn btn-primary w-xs'>Pesquisar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  {% if success %}
                    <div class='alert alert-success mb-4' role='alert'>{{ success }}</div>
                  {% elif error %}
                    <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                  {% endif %}
                  {% if context.categories %}
                    <div class='table-responsive'>
                      <table class='table align-middle table-nowrap table-check'>
                        <thead class='table-light'>
                          <tr>
                            <th class='align-middle'>Data de Registro</th>
                            <th class='align-middle'>Categoria</th>
                            <th class='align-middle'>Subcategoria</th>
                            <th class='align-middle'>Tipo</th>
                            <th class='align-middle'></th>
                            <th class='align-middle'></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for row in context.categories %}
                            <tr>
                              <td>{{ row.sub_date_created|date }}</td>
                              <td>{{ row.cat_name|upper }}</td>
                              <td>{{ row.sub_name|upper }}</td>
                              <td>
                                {% if row.cat_type == 1 %}
                                  <span class='badge badge-pill badge-soft-success font-size-12'>Renda</span>
                                {% else %}
                                  <span class='badge badge-pill badge-soft-danger font-size-12'>Gasto</span>
                                {% endif %}
                              </td>
                              <td>
                                <button type='button' class='btn btn-primary btn-sm btn-rounded categories_details' 
                                  data-bs-toggle='modal' data-bs-target='.labelDetailsModal' data-value='{{ row.sub_slug|md5 }}'>
                                  Ver Detalhes
                                </button>
                              </td>
                              <td>
                                <div class='d-flex gap-3'>
                                  <a data-bs-toggle='modal' data-bs-target='.labelEditModal' data-value='{{ row.sub_slug|md5 }}'
                                    class='text-success categories_edit' style='cursor:pointer;'><i class='mdi mdi-pencil font-size-18'></i></a>
                                  <a data-bs-toggle='modal' data-bs-target='.labelRemoveModal' data-value='{{ row.sub_slug|md5 }}'
                                    class='text-danger categories_del' style='cursor:pointer;'><i class='mdi mdi-delete font-size-18'></i></a>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <form action="{{ url_for('board.labels_categories') }}" method='get'>
                      <input type='hidden' name='type' value='{{ context.filter.type }}'/>
                      <input type='hidden' name='search' value='{{ context.filter.search }}'/>
                      <input type='hidden' name='label' value='{{ context.filter.label }}'/>
                      <ul class='pagination pagination-rounded justify-content-end mb-2'>
                        <li class='page-item {% if context.pages.pg == 1 %}disabled{% endif %}'>
                          <button class='page-link' type='submit' name='pg' value='1' aria-label='First'>
                            <i class='mdi mdi-chevron-double-left'></i>
                          </button>
                        </li>
                        {% for item in context.pages.pg_range %}
                          <li class='page-item {% if context.pages.pg == item %}active{% endif %}'>
                            <button class='page-link' type='submit' name='pg' value='{{ item }}'>{{ item }}</button>
                          </li>
                        {% endfor %}
                        <li class='page-item {% if context.pages.pg == context.pages.total_pg %}disabled{% endif %}'>
                          <button class='page-link' type='submit' name='pg' value='{{ context.pages.total_pg }}' aria-label='Last'>
                            <i class='mdi mdi-chevron-double-right'></i>
                          </button>
                        </li>
                      </ul>
                    </form>
                  {% else %}
                    <div class='table-responsive'>
                      <div class='card-body'>Sem Categoria Registrada.</div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- container-fluid -->
      </div>
      <!-- End Page-content -->
    </div>
    <!-- end main content-->
  </div>
</body>

{% include 'board/partials/footer.html' %}

<!-- labelDetailsModal -->
<div class='modal fade labelDetailsModal' tabindex='-1' role='dialog' aria-labelledby='labelDetailsModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='labelDetailsModalLabel'>Detalhes da categorias</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <div class='form-row col-md d-flex justify-content-between'>
          <p class='mb-2 modal_register_date'>Data de Registro: <span class='text-primary'></span></p>
          <span class='modal_type badge badge-pill font-size-12 mb-2'></span>
        </div>
        <p class='mb-2 modal_category'>Categoria: <span class='text-primary'></span></p>
        <p class='mb-2 modal_subcategory'>Subcategoria: <span class='text-primary'></span></p>
      </div>
    </div>
  </div>
</div>
<!-- end labelDetailsModal -->

<!-- labelEditModal Modal -->
<div class='modal fade labelEditModal' id='labelEditModal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Editar Categoria</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <form class='needs-validation' method='post' action="{{ url_for('board.labels_categories_edit') }}" novalidate>
        {{ csrf_token }}
        <input type='hidden' id='edit_category' name='edit_category'/>
        <input type='hidden' id='inlineRadio' name='inlineRadio'/>
        <div class='modal-body'>
          <div class='content mt-1'>
            <div class='row'>
              <div class='col-lg-12'>
                <div class='mb-3'>
                  <label class='d-block mb-3'>Tipo de Categoria :</label>
                  <div class='form-check form-check-inline'>
                    <input class='form-check-input' type='radio' name='inlineRadioOptions' id='inlineRadio1' value='1' disabled>
                    <label class='form-check-label' for='inlineRadio1'>Renda</label>
                  </div>
                  <div class='form-check form-check-inline'>
                    <input class='form-check-input' type='radio' name='inlineRadioOptions' id='inlineRadio2' value='2' disabled>
                    <label class='form-check-label' for='inlineRadio2'>Gasto</label>
                  </div>                                                          
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-lg-12'>
                <div class='mb-2'>
                  <label for='name' class='form-label'>Nome da Categoria</label>
                  <input type='text' class='form-control checkbox_edit' id='name' placeholder='Insira o nome do tipo (por exemplo, Provedor)'
                    name='name' maxlength='128' disabled>
                  <div class='invalid-feedback'>Insira o nome da Categoria</div>
                </div>
                <div class='mb-3'>
                  <div class='form-check'>
                    <input class='form-check-input' type='checkbox' id='checkbox_edit'>
                    <label class='form-check-label' for='checkbox_edit'>Clique aqui se quiser editar o nome da categoria</label>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-lg-12'>
                <div class='mb-3'>
                  <label for='subname' class='form-label'>Subcategoria</label>
                  <input type='text' class='form-control valid_entry_nd' id='subname' name='subname'
                    placeholder='Digite o nome da subcategoria (por exemplo, lucro com ações)' required>
                  <div class='invalid-feedback'>Insira o nome da subcategoria</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='modal-footer'>
          <button type='submit' class='btn btn-primary'>Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end labelEditModal -->

<!-- labelRemoveModal Modal -->
<div class='modal fade labelRemoveModal' id='labelRemoveModal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Remover Categoria</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <form class='needs-validation' action="{{ url_for('board.labels_categories_delete') }}" novalidate method='post'>
        {{ csrf_token }}
        <input type='hidden' id='del_subcategory' name='del_subcategory'/>
        <div class='modal-body'>
          <p class='mb-4'>Tem certeza de que deseja prosseguir com a remoção da da subcategoria?</p>
          <p class='mb-2 modal_category'>Categoria: <span class='text-primary'></span></p>
          <p class='mb-2 modal_subcategory'>Subcategoria: <span class='text-primary'></span></p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary waves-effect' data-bs-dismiss='modal'>Cancelar</button>
          <button type='submit' class='btn btn-primary waves-effect waves-light'>Remover</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end labelRemoveModal -->