{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
  <div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
      <div class='page-content'>
        <div class='container-fluid'>
          <!-- start page title -->
          <div class='row'>
            <div class='col-12'>
              <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                <h4 class='mb-sm-0 font-size-18'>Perfil</h4>
                <div class='page-title-right'>
                  <ol class='breadcrumb m-0'>
                    <li class='breadcrumb-item'>Perfil</li>
                    <li class='breadcrumb-item active'>Senha</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- end page title -->
          <div class='row'>
            <div class='col-md-8'>
              <div class='card'>
                <div class='card-body'>
                  <div class='row mb-2'>
                    <div class='col-sm-4'>
                      <h4 class='card-title'>Alterar a senha</h4>
                      <p class='card-title-desc'>Digite a nova senha e sua confirmação</p>
                    </div>
                  </div>
                  {% if error %}
                    <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                  {% endif %}
                  <form class='needs-validation' method='post' action="{{ url_for('board.password') }}" novalidate>
                    {{ csrf_token }}
                    <div class='row'>
                      <div class='col-md-12'>
                        <div class='mb-3'>
                          <label for='password' class='form-label'>Nova Senha</label>
                          <input type='password' class='form-control valid_pass' id='password' name='password'
                            placeholder='Digite a senha' required>
                          <div class='invalid-feedback'>Por favor, digite a nova senha</div>
                        </div>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-md-12'>
                        <div class='mb-3'>
                          <label for='password_confirmation' class='form-label'>Confirme sua senha</label>
                          <input type='password' class='form-control valid_pass_confirm' id='password_confirmation' name='password_confirmation'
                            placeholder='Digite a confirmação da senha' required>
                          <div class='invalid-feedback'>Insira a confirmação da senha</div>
                        </div>
                      </div>
                    </div>
                    <div class='d-flex flex-wrap gap-2'>
                      <button type='submit' class='btn btn-primary waves-effect waves-light'>Alterar a senha</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class='col-md-4'>
              <div class='card'>
                <div class='card-body'>
                  <div class='row mb-2'>
                    <div class='col-sm-12'>
                      <h4 class='card-title'>Regras de senha</h4>
                      <p class='card-title-desc'>Siga as regras abaixo para alterar sua senha</p>
                    </div>
                  </div>
                  <p class='mb-2'>&#9679; Deve conter pelo menos UM número em sua composição</p>
                  <p class='mb-2'>&#9679; Deve conter pelo menos UMA letra maiúscula em sua composição</p>
                  <p class='mb-2'>&#9679; Deve conter pelo menos UMA letra minúscula em sua composição</p>
                  <p class='mb-2'>&#9679; Deve conter no mínimo 8 dígitos em sua composição</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div> <!-- container-fluid -->
      </div>
      <!-- End Page-content -->
    </div>
    <!-- end main content-->
  </div>
</body>

{% include 'board/partials/footer.html' %}