{% include 'auth/partials/head.html' %}

<body>
<div class='row'>
    <div class='col-lg-12'>
        <div class='text-center mb-5 text-muted'>
            <a href="{{ url_for('auth.login') }}" class='d-block auth-logo'>
                <img src="{{ url_for('static', filename=('static/global/images/full-logo.png')) }}" alt='' height='50'
                     class='auth-logo-dark mx-auto'>
            </a>
        </div>
    </div>
</div>
<!-- end row -->
<div class='row justify-content-center'>
    <div class='col-md-8 col-lg-6 col-xl-5'>
        <div class='card'>
            <div class='card-body'>
                <div class='p-2'>
                    <div class='text-center'>
                        <div class='avatar-md mx-auto'>
                            <div class='avatar-title rounded-circle bg-light'>
                                <i class='bx bxs-envelope h1 mb-0 text-primary'></i>
                            </div>
                        </div>
                        <div class='p-2 mt-4'>
                            <h4>Verifique seu e-mail</h4>
                            <p class='mb-2'>Digite o código de 4 dígitos enviado para <span
                                    class='fw-semibold'>{{ email }}</span></p>
                            <p class='mb-4 text-danger'>Você tem <span class='fw-semibold'>{{attempts}}</span>
                                Tentativa{% if attempts > 1 %}s{% endif %} Restante{% if attempts > 1 %}s{% endif %}</p>
                            <form class='needs-validation' action="{{ url_for('auth.verify') }}" novalidate
                                  method='post'>
                                {{ csrf_token }}
                                <div class='row'>
                                    <div class='col-3'>
                                        <div class='mb-3'>
                                            <label for='digit1-input' class='visually-hidden'>Digito 1</label>
                                            <input type='text'
                                                   class='form-control form-control-lg text-center valid_digit1'
                                                   onkeyup='moveToNext(this, 2)' maxLength='1'
                                                   name='digit1-input'
                                                   id='digit1-input' required>
                                        </div>
                                    </div>
                                    <div class='col-3'>
                                        <div class='mb-3'>
                                            <label for='digit2-input' class='visually-hidden'>Digito 2</label>
                                            <input type='text'
                                                   class='form-control form-control-lg text-center valid_digit2'
                                                   onkeyup='moveToNext(this, 3)' maxLength='1'
                                                   name='digit2-input' id='digit2-input' required>
                                        </div>
                                    </div>
                                    <div class='col-3'>
                                        <div class='mb-3'>
                                            <label for='digit3-input' class='visually-hidden'>Digito 3</label>
                                            <input type='text'
                                                   class='form-control form-control-lg text-center valid_digit3'
                                                   onkeyup='moveToNext(this, 4)' maxLength='1'
                                                   name='digit3-input' id='digit3-input' required>
                                        </div>
                                    </div>
                                    <div class='col-3'>
                                        <div class='mb-3'>
                                            <label for='digit4-input' class='visually-hidden'>Digito 4</label>
                                            <input type='text'
                                                   class='form-control form-control-lg text-center valid_digit4'
                                                   onkeyup='moveToNext(this, null)' maxLength='1' name='digit4-input'
                                                   id='digit4-input' required>
                                        </div>
                                    </div>
                                </div>
                                <div class='invalid-feedback was-validated'>Por favor insira todos os 4 dígitos</div>
                                <div class='mt-4 d-grid'>
                                    <button class='btn btn-success waves-effect waves-light' type='submit'>Confirmar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='mt-4 text-center'>
            <p>Não recebeu um código? <a
                    href="{{ url_for('auth.verify', send=True, _method='GET') }}"
                    class='fw-medium text-primary'>
                Reenviar </a></p>
            {% include 'auth/partials/bottom.html' %}
        </div>
    </div>
</div>
</body>

{% include 'auth/partials/footer.html' %}