<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='global/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/metismenu/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/node-waves/waves.min.js') }}"></script>

<!-- controllers -->
<script src="{{ url_for('static', filename='guest/js/theme.min.js') }}"></script>

<!-- validation init -->
<script src="{{ url_for('static', filename='global/js/validation.init.js') }}"></script>

<!-- two-step-verification js -->
<script src="{{ url_for('static', filename='guest/js/two-step-verification.init.js') }}"></script>

<!-- App js -->
<script src="{{ url_for('static', filename='global/js/app.js') }}"></script>
</html>