<!-- labelDetailsModal Modal -->
<div class='modal fade labelDetailsModal' tabindex='-1' role='dialog' aria-labelledby='labelDetailsModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='labelDetailsModalLabel'>Detalhes da Etiqueta Financeira</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <div class='form-row col-md d-flex justify-content-between'>
                    <p class='mb-2 modal_register_date'>Data de registro: <span class='text-primary'></span></p>
                    <span class='modal_type badge badge-pill font-size-12 mb-2'></span>
                </div>
                <div class='d-none' id='cost_center_modal'>
                    <p class='mb-2 modal_cost_center'>Centro de custo: <span class='text-primary'></span></p>
                    <p class='mb-2 modal_description d-none'>Descrição: <span class='text-primary'></span></p>
                </div>
                <div class='d-none' id='bank_account_modal'>
                    <p class='mb-2 modal_bank'>Nome do banco: <span class='text-primary'></span></p>
                    <p class='mb-2 modal_branch'>Número da agência: <span class='text-primary'></span></p>
                    <p class='mb-2 modal_account'>Número de conta: <span class='text-primary'></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end labelDetailsModal -->