{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
<div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
        <div class='page-content'>
            <div class='container-fluid'>
                <!-- start page title -->
                <div class='row'>
                    <div class='col-12'>
                        <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                            <h4 class='mb-sm-0 font-size-18'>CONTAS</h4>
                            <div class='page-title-right'>
                                <ol class='breadcrumb m-0'>
                                    <li class='breadcrumb-item'>Cadastros</li>
                                    <li class='breadcrumb-item active'>Contas</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class='row'>
                    <div class='col-12'>
                        <div class='card'>
                            <div class='card-body'>
                                <div class='row'>
                                    <div class='col-sm-12'>
                                        <div class='text-sm-end'>
                                            <a class='btn btn-primary waves-effect waves-light mb-3'
                                               data-bs-toggle='modal'
                                               data-bs-target='.addAccountModal'>
                                                <i class='mdi mdi-plus'></i>Adicionar Conta
                                            </a>
                                        </div>
                                    </div><!-- end col-->
                                </div>
                                <hr class='mt-0 mb-3'>
                                <form class='form-horizontal' action="{{ url_for('board.accounts') }}" method='get'>
                                    <div class='row mb-3 align-items-end'>
                                        <div class='col-sm-3'>
                                            <div class='mb-3'>
                                                <label for='type'>Tipo</label>
                                                <select class='form-select select2-search-disable' id='type'
                                                        name='type'>
                                                    <option value='' selected>Todos os tipos</option>
                                                    <option value='2' {% if context.filter.type==
                                                    '2' %}selected{% endif %}>Conta bancária</option>
                                                    <option value='1' {% if context.filter.type==
                                                    '1' %}selected{% endif %}>Outros tipos (carteira, cofre,
                                                    etc)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class='col-sm-5'>
                                            <div class='mb-3'>
                                                <label for='search'>Pesquisa de texto</label>
                                                <input type='text' class='form-control' id='search' name='search'
                                                       placeholder='Pesquise pelo nome da conta, banco ou descrição'
                                                       value='{% if context.filter.search %}{{ context.filter.search }}{% endif %}'>
                                            </div>
                                        </div>
                                        <div class='col-sm align-self-end'>
                                            <div class='mb-3'>
                                                <div class='text-sm-end d-grid'>
                                                    <button type='submit' class='btn btn-primary w-xs'>Pesquisar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-2 align-self-end'>
                                            <div class='mb-3'>
                                                <div class='text-sm-end d-grid'>
                                                    <a href="{{ url_for('board.accounts') }}"
                                                       class='btn btn-info w-xs'>Limpar Pesquisa</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% if success %}
                                <div class='alert alert-success mb-4' role='alert'>{{ success }}</div>
                                {% elif error %}
                                <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                                {% endif %}
                                {% if context.accounts %}
                                <div class='table-responsive'>

                                    <table class='table align-middle table-nowrap table-check'>
                                        <thead class='table-light'>
                                        <tr>
                                            <th class='align-middle'>Tipo</th>
                                            <th class='align-middle'>Nome da conta</th>
                                            <th class='align-middle'>Instituição</th>
                                            <th class='align-middle'>Agencia / Conta</th>
                                            <th class='align-middle'></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in context.accounts.not_bank_accounts %}
                                        {% if row.id == 1 %}
                                        <tr class="text-warning">
                                        {% else %}
                                        <tr>
                                        {% endif %}
                                            <td><span class='badge badge-pill badge-soft-primary font-size-12'>Outro
                                                tipo</span>
                                            <td>{{ row.acc_name|upper }}</td>
                                            <td>{{ row.acc_description|upper }}</td>
                                            <td></td>
                                            <td>
                                                <div class='d-flex gap-3'>
                                                    {% if row.id == 1 %}
                                                        <a class='text-success'>
                                                           <i class="mdi mdi-pencil-off font-size-18"></i>
                                                        </a>
                                                        <a class='text-danger'>
                                                           <i class="mdi mdi-delete-off font-size-18"></i>
                                                        </a>
                                                    {% else %}
                                                        <a data-bs-toggle='modal' data-bs-target='.editAccountModal'
                                                           data-value='{{ row.id }}'
                                                           class='text-success accounts_edit' style='cursor:pointer;'><i
                                                                class='mdi mdi-pencil font-size-18'></i></a>
                                                        <a data-bs-toggle='modal' data-bs-target='.removeAccountModal'
                                                           data-value='{{ row.id }}'
                                                           class='text-danger accounts_del' style='cursor:pointer;'><i
                                                                class='mdi mdi-delete font-size-18'></i></a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% for row in context.accounts.bank_accounts %}
                                        <tr>
                                            <td><span class='badge badge-pill badge-soft-success font-size-12'>Conta
                                                bancária</span></td>
                                            <td>{{ row.acc_name|upper }}</td>
                                            <td>{{ row.acc_bank_name|upper }}</td>
                                            <td>{{ row.acc_bank_branch }} / {{ row.acc_bank_account }}</td>
                                            <td>
                                                <div class='d-flex gap-3'>
                                                    {% if row.id == 1 %}
                                                        <a class='text-success'>
                                                           <i class="mdi mdi-pencil-off font-size-18"></i>
                                                        </a>
                                                        <a class='text-danger'>
                                                           <i class="mdi mdi-delete-off font-size-18"></i>
                                                        </a>
                                                    {% else %}
                                                        <a data-bs-toggle='modal' data-bs-target='.editAccountModal'
                                                           data-value='{{ row.id }}'
                                                           class='text-success accounts_edit' style='cursor:pointer;'><i
                                                                class='mdi mdi-pencil font-size-18'></i></a>
                                                        <a data-bs-toggle='modal' data-bs-target='.removeAccountModal'
                                                           data-value='{{ row.id }}'
                                                           class='text-danger accounts_del' style='cursor:pointer;'><i
                                                                class='mdi mdi-delete font-size-18'></i></a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <form action="{{ url_for('board.accounts') }}" method='get'>
                                    <input type='hidden' name='type' value='{{ context.filter.type }}'/>
                                    <input type='hidden' name='search' value='{{ context.filter.search }}'/>
                                    <ul class='pagination pagination-rounded justify-content-end mb-2'>
                                        <li class='page-item {% if context.pages.pg == 1 %}disabled{% endif %}'>
                                            <button class='page-link' type='submit' name='pg' value='1'
                                                    aria-label='First'>
                                                <i class='mdi mdi-chevron-double-left'></i>
                                            </button>
                                        </li>
                                        {% for item in context.pages.pg_range %}
                                        <li class='page-item {% if context.pages.pg == item %}active{% endif %}'>
                                            <button class='page-link' type='submit' name='pg' value='{{ item }}'>{{ item
                                                }}
                                            </button>
                                        </li>
                                        {% endfor %}
                                        <li class='page-item {% if context.pages.pg == context.pages.total_pg %}disabled{% endif %}'>
                                            <button class='page-link' type='submit' name='pg'
                                                    value='{{ context.pages.total_pg }}' aria-label='Last'>
                                                <i class='mdi mdi-chevron-double-right'></i>
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                                {% else %}
                                <div class='table-responsive'>
                                    <div class='card-body'>Nenhum centro de custo registrado ou conta bancária.</div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
</body>

{% include 'board/partials/footer.html' %}

<!-- addAccountModal Modal -->
{% include 'board/pages/accounts_modal_add.html' %}
<!-- end addAccountModal -->

<!-- labelDetailsModal -->
{% include 'board/pages/accounts_modal_details.html' %}
<!-- end labelDetailsModal -->

<!-- labelEditModal Modal -->
{% include 'board/pages/accounts_modal_edit.html' %}
<!-- end labelEditModal -->

<!-- labelRemoveModal Modal -->
{% include 'board/pages/accounts_modal_del.html' %}
<!-- end labelRemoveModal -->