<!-- labelEditModal Modal -->
<div class='modal fade editCategoryModal' id='editCategoryModal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Editar Categoria</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form class='needs-validation' id='edit_category_form'
                  action="{{ url_for('board.categories') }}"
                  novalidate
                  method='post'>
                <input type='hidden' name='_method' value='PUT'/>
                {{ csrf_token }}
                <input type='hidden' id='edit_category' name='edit_category'/>
<!--                <input type='hidden' id='cat_type_edit' name='cat_type_edit'/>-->
                <div class='modal-body'>
                    <div class='content mt-1'>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='mb-2'>
                                    <label for='cat_name_edit' class='form-label'>Nome da Categoria</label>
                                    <input type='text' class='form-control valid_entry_edit checkbox_edit'
                                           id='cat_name_edit'
                                           placeholder='Insira o nome do tipo (por exemplo, Provedor)'
                                           name='cat_name_edit' maxlength='128'>
                                    <div class='invalid-feedback'>Insira o nome da Categoria</div>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class='mb-2'>
                                    <label for='cat_goal_edit' class='form-label'>Meta Mensal (R$)</label>
                                    <input type='number' class='form-control valid_entry_edit checkbox_edit'
                                           id='cat_goal_edit'
                                           placeholder='Mensal Mensal'
                                           name='cat_goal_edit' maxlength='128'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <div class='mb-2'>
                                    <label for='cat_description_edit' class='form-label'>Descrição da Categoria</label>
                                    <input type='text' class='form-control valid_entry_edit checkbox_edit'
                                           id='cat_description_edit'
                                           placeholder='Se preferir, insira a descrição detalhada da categoria'
                                           name='cat_description_edit' maxlength='128'>
                                    <div class='invalid-feedback'>Insira a descrição da Categoria</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='submit' class='btn btn-primary'>Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end labelEditModal -->