<!-- labelDetailsModal -->
<div class='modal fade labelDetailsModal' tabindex='-1' role='dialog' aria-labelledby='labelDetailsModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='labelDetailsModalLabel'>Detalhes da categorias</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <div class='form-row col-md d-flex justify-content-between'>
                    <p class='mb-2 modal_register_date'>Data de Registro: <span class='text-primary'></span></p>
                    <span class='modal_type badge badge-pill font-size-12 mb-2'></span>
                </div>
                <p class='mb-2 modal_category'>Categoria: <span class='text-primary'></span></p>
                <p class='mb-2 modal_subcategory'>Subcategoria: <span class='text-primary'></span></p>
            </div>
        </div>
    </div>
</div>
<!-- end labelDetailsModal -->