{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
<div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
        <div class='page-content'>
            <div class='container-fluid'>
                <!-- start page title -->
                <div class='row'>
                    <div class='col-12'>
                        <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                            <h4 class='mb-sm-0 font-size-18'>Limpar Registros</h4>
                            <div class='page-title-right'>
                                <ol class='breadcrumb m-0'>
                                    <li class='breadcrumb-item'>Menu</li>
                                    <li class='breadcrumb-item active'>Upload</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class='row'>
                    <div class='row mb-2'>
                        <div class='col-sm'>
                            <h4 class='card-title'>Para limpar os itens, clique nos botões abaixo</h4>
                        </div>
                    </div>
                    <div class='col-md'>
                        <div class='card align-items-center'>
                            <div class='card-body'>
                                <div class='d-flex flex-wrap gap-2'>
                                    <button class='btn btn-danger dropdown-toggle' type='button'
                                            data-bs-toggle='modal'
                                            data-bs-target='.cleanEstablishmentsModal'>
                                        <i class='mdi mdi-store-outline'></i> Excluir Estabelecimentos
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md'>
                        <div class='card align-items-center'>
                            <div class='card-body'>
                                <div class='d-flex flex-wrap gap-2'>
                                    <button class='btn btn-danger dropdown-toggle' type='button'
                                            data-bs-toggle='modal'
                                            data-bs-target='.cleanCategoriesModal'>
                                        <i class='mdi mdi-clipboard-list-outline'></i> Excluir Categorias
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md'>
                        <div class='card align-items-center'>
                            <div class='card-body'>
                                <div class='d-flex flex-wrap gap-2'>
                                    <button class='btn btn-danger dropdown-toggle' type='button'
                                            data-bs-toggle='modal'
                                            data-bs-target='.cleanAccountsModal'>
                                        <i class='mdi mdi-bank-outline'></i> Excluir Contas
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md'>
                        <div class='card align-items-center'>
                            <div class='card-body'>
                                <div class='d-flex flex-wrap gap-2'>
                                    <button class='btn btn-danger dropdown-toggle' type='button'
                                            data-bs-toggle='modal'
                                            data-bs-target='.cleanTransactionsModal'>
                                        <i class='mdi mdi-table-of-contents'></i> Excluir Transações
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
</body>

{% include 'board/partials/footer.html' %}