<div class='modal fade newEntryModal' id='newEntryModal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Adicionar Nova Entrada</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form class='needs-validation' action="{{ url_for('board.credit_card_dashboard') }}" novalidate
                  method='post'>
                <input type='hidden' name='_method' value='POST'/>
                {{ csrf_token }}
                <input type='hidden' name='m' value='{{ context.filter.month }}'/>
                <input type='hidden' name='y' value='{{ context.filter.year }}'/>
                <div class='modal-body'>
                    <div class='content mt-1'>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='entry_date' class='form-label'>Data de Entrada<span class='text-danger'>*</span></label>
                                    <input type='date' class='form-control valid_date' id='entry_date' name='entry_date'
                                           value='{{ context.filter.new_entry_date }}' required>
                                    <div class='invalid-feedback'>Por favor ensira a data de entrada</div>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label class='form-label'>Categorias<span class='text-danger'>*</span></label>

                                    <select class="select2 form-control select2-multiple"
                                            multiple="multiple" data-placeholder="..."
                                            id="select-multiple-categories" name="selected_categories[]">

                                        {% if context.categories %}
                                            {% for row in context.categories %}
                                                {% if row.id == 2 %}
                                                    <option value='{{ row.id }}' selected>{{ row.cat_name|lower }}</option>
                                                {% else %}
                                                    <option value='{{ row.id }}'>{{ row.cat_name|lower }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <option value='' selected disabled>Selecione ao menos uma categoria</option>
                                        {% endif %}
                                    </select>

                                    <div class='invalid-feedback'>Selecione uma categoria</div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='establishment' class='form-label'>Estabelecimento<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='establishment' name='establishment' required>
                                        {% if context.establishments %}
                                        {% for row in context.establishments %}

                                        {% if row.id == 1 %}
                                        <option value='{{ row.id }}' selected>{{ row.est_name }}</option>
                                        {% else %}
                                        <option value='{{ row.id }}'>{{ row.est_name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                        {% else %}
                                        <option value='' selected disabled>Registre um estabelecimento antes de
                                            continuar
                                        </option>
                                        {% endif %}
                                    </select>
                                    <div class='invalid-feedback'>Selecione um estabelecimento, mesmo que seja você
                                        mesmo
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='credit_card' class='form-label'>Cartão de Crédito<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='credit_card' name='credit_card' required>
                                        {% if context.credit_cards %}
                                            {% for row in context.credit_cards %}
                                                {% if row.id == 1 %}
                                                    <option value='{{ row.id }}' selected>{{ row.ccr_name }} | {{
                                                        row.ccr_last_digits }} | {{ row.ccr_due_date }}</option>
                                                {% else %}
                                                    <option value='{{ row.id }}'>{{ row.ccr_name }} | {{
                                                        row.ccr_last_digits }} | {{ row.ccr_due_date }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <option value='' selected disabled>Nenhum cartão de crédito cadastrado</option>
                                        {% endif %}
                                    </select>
                                    <div class='invalid-feedback'>Selecione um cartão de crédito</div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-3'>
                                <div class='mb-3'>
                                    <label for='type_transaction' class='form-label'>Tipo<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='type_transaction' name='type_transaction'>
                                        <option value='1'>Entrada</option>
                                        <option value='2' selected>Saída</option>
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg-3'>
                                <div class='mb-3'>
                                    <label for='due_month' class='form-label'>Mês de Vencimento<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='due_month' name='due_month'>
                                        {% for i in range(1, 13) %}
                                            {% if i == context.filter.month %}
                                                <option value="{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg-3'>
                                <div class='mb-3'>
                                    <label for='due_year' class='form-label'>Ano de Vencimento<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='due_year' name='due_year'>
                                        {% for i in range(2021, 2031) %}
                                            {% if i == context.filter.year %}
                                                <option value="{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg-3'>
                                <div class='mb-3'>
                                    <label for='amount' class='form-label'>Valor<span
                                            class='text-danger'>*</span></label>
                                    <input type='text' class='form-control mask_money' id='amount' name='amount'
                                           placeholder='Digite o valor da entrada' required>
                                    <div class='invalid-feedback'>Digite o valor da entrada</div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-9'>
                                <div class='mb-3'>
                                    <label for='description' class='form-label'>Descrição | Observações</label>
                                    <input type='text' class='form-control valid_opt_entry' id='description'
                                           name='description'
                                           placeholder='Se preferir, adicione maiores detalhes' maxlength='128'>
                                    <div class='invalid-feedback'></div>
                                </div>
                            </div>
                            <div class='col-lg-3'>
                                <div class='mb-3'>
                                    <label for='repetition' class='form-label'>Repetir | Mensal<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='repetition' name='repetition'>
                                        <option value='1' selected>Não</option>
                                        {% for i in range(2, 13) %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary waves-effect' data-bs-dismiss='modal'>
                        Cancelar</button>
                    <button type='submit' class='btn btn-primary'>Adicionar Entrada</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
      $("#select-multiple-categories").select2({
        dropdownParent: $("#newEntryModal")
      });
    });
</script>