<!-- labelRemoveModal Modal -->
<div class='modal fade removeEstablishmentModal' id='removeEstablishmentModal' tabindex='-1' role='dialog'
     aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Remover Estabelecimento</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form class='needs-validation' action="{{ url_for('board.establishments') }}" novalidate
                  method='post'>
                <input type='hidden' name='_method' value='DELETE'/>
                {{ csrf_token }}
                <input type='hidden' id='del_establishment' name='del_establishment'/>
                <div class='modal-body'>
                    <p class='mb-4'>Tem certeza de que deseja prosseguir com a remoção do estabelecimento?</p>
                    <p class='mb-2 modal_name'>Estabelecimento: <span class='text-primary'></span></p>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary waves-effect' data-bs-dismiss='modal'>Cancelar
                    </button>
                    <button type='submit' class='btn btn-primary waves-effect waves-light'>Remover</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end labelRemoveModal -->