<!-- addEstablishmentModal Modal -->
<div class='modal fade addEstablishmentModal' id='addEstablishmentModal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Adicionar Estabelecimento</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form class='needs-validation' id='add_establishment_form'
                  action="{{ url_for('board.establishments') }}"
                  novalidate
                  method='post'>
                {{ csrf_token }}
                <div class='modal-body'>
                    <div class='content mt-1'>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <div class='mb-3'>
                                    <label for='est_name_add' class='form-label'>Nome</label>
                                    <input type='text' class='form-control valid_entry_add' id='est_name_add'
                                           name='est_name_add'
                                           placeholder='Digite o nome do estabelecimento'
                                           required>
                                    <div class='invalid-feedback'>Digite o nome do estabelecimento</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary waves-effect' data-bs-dismiss='modal'>Cancelar
                    </button>
                    <button type='submit' class='btn btn-primary waves-effect waves-light'>Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end addEstablishmentModal -->