<!-- labelDetailsModal -->
<div class='modal fade labelDetailsModal' tabindex='-1' role='dialog' aria-labelledby='labelDetailsModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='labelDetailsModalLabel'>Detalhes da etiqueta do estabelecimento</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p class='mb-2 modal_register_date'>Data de Registro: <span class='text-primary'></span></p>
                <p class='mb-2 modal_description'>Categoria Beneficiária: <span class='text-primary'></span></p>
                <p class='mb-2 modal_name'>Nome do Estabelecimento: <span class='text-primary'></span></p>
            </div>
        </div>
    </div>
</div>
<!-- end labelDetailsModal -->