{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
<div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start main content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
        <div class='page-content'>
            <div class='container-fluid'>

                <!-- start page title -->
                <div class='row'>
                    <div class='col-12'>
                        <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                            <h4 class='mb-sm-0 font-size-18'>Dashboard</h4>
                            <div class='page-title-right'>
                                <ol class='breadcrumb m-0'>
                                    <li class='breadcrumb-item'>Menu</li>
                                    <li class='breadcrumb-item active'>Dashboard</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class='col-xl'>
                    <div class='row'>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Entradas</p>
                                            <h4 class='mb-0 text-success'>
                                                R$ {% if context.analytic %}{{ context.analytic.incomes|format_currency
                                                }}{%
                                                else %}0,00{% endif %}
                                            </h4>
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-call-received font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Saídas</p>
                                            <h4 class='mb-0 text-danger'>
                                                R$ {% if context.analytic %}{{ (context.analytic.expenses * -1)|format_currency                                                }}{%
                                                else %}0,00{% endif %}
                                            </h4>
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-call-made font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Balanço Mensal</p>

                                            {% if context.analytic %}
                                            {% if context.analytic.balance < 0 %}
                                            <h4 class='mb-0 text-danger'>
                                                R$ {{ context.analytic.balance|format_currency }}
                                            </h4>
                                            {% else %}
                                            <h4 class='mb-0 text-success'>
                                                R$ {{ context.analytic.balance|format_currency }}
                                            </h4>
                                            {% endif %}
                                            {% else %}
                                            <h4 class='mb-0'>
                                                R$ 0,00
                                            </h4>
                                            {% endif %}
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-cached font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Saldo Atual</p>
                                            {% if context.analytic %}
                                            {% if context.analytic.overall < 0 %}
                                            <h4 class='mb-0 text-danger'>
                                                R$ {{ context.analytic.overall|format_currency }}
                                            </h4>
                                            {% else %}
                                            <h4 class='mb-0 text-success'>
                                                R$ {{ context.analytic.overall|format_currency }}
                                            </h4>
                                            {% endif %}
                                            {% else %}
                                            <h4 class='mb-0'>
                                                R$ 0,00
                                            </h4>
                                            {% endif %}
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-contrast font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>

                {% if success %}
                <div class='alert alert-success mb-4 text-center' role='alert'>{{ success }}</div>
                {% elif error %}
                <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                {% endif %}

                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='card'>
                            <div class='card-body'>
                                <div id='right'>
                                    <div id='menu' class='mb-3'>
                                        <span id='menu-navi'
                                              class='d-sm-flex flex-wrap text-center text-sm-start justify-content-sm-between'>
                                            <div class='d-sm-flex flex-wrap gap-1'>
                                                <div class='btn-group mb-2' role='group' aria-label='Basic example'>
                                                    <button type='button' class='btn btn-primary move-month'
                                                            data-value='move-prev'>
                                                        <i class='calendar-icon ic-arrow-line-left mdi mdi-chevron-left'
                                                           data-action='move-prev'></i>
                                                    </button>
                                                    <button type='button' class='btn btn-primary move-month'
                                                            data-value='move-next'>
                                                        <i class='calendar-icon ic-arrow-line-right mdi mdi-chevron-right'
                                                           data-action='move-next'></i>
                                                    </button>
                                                </div>
                                                <div class='dropdown mb-2'>
                                                    <button class='btn btn-primary dropdown-toggle' type='button'
                                                            data-bs-toggle='dropdown' aria-haspopup='true'
                                                            aria-expanded='false'>Ir Para
                                                    </button>
                                                    <div class='dropdown-menu dropdown-menu-md dropdown-menu-start'>
                                                        <div class='form-group m-0 p-3'>
                                                            <div class='input-group'>
                                                                <input type='text' class='form-control mask_date_short'
                                                                       id='goto'
                                                                       placeholder='MM/YYYY'>
                                                                <button class='btn btn-primary move-month' type='button'
                                                                        data-value='goto'><i
                                                                        class='mdi mdi-magnify'></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type='button' class='btn btn-primary move-today mb-2'
                                                        data-action='move-today'>Atual</button>
                                                <form action="{{ url_for('board.index') }}"
                                                      method='get'>
                                                    <div class='col'>
                                                        <input type='text' class='form-control match-select2' id='search'
                                                               name='search'
                                                               placeholder='Pesquisar'
                                                               value='{% if context.filter.search %}{{ context.filter.search }}{% endif %}'>
                                                    </div>
                                                </form>
                                            </div>
                                            <h4 class='render-range fw-bold pt-1 mx-3'>{{
                                                context.filter.displayed_str|upper }}</h4>
                                            <input type='hidden' id='renderRange'
                                                   value='{{ context.filter.displayed_int }}'/>
                                            <div class='dropdown align-self-start mt-3 mt-sm-0 mb-2'>
                                                <button class='btn btn-primary dropdown-toggle' type='button'
                                                        data-bs-toggle='modal'
                                                        data-bs-target='.newEntryModal'>
                                                    <i class='mdi mdi-plus'></i> Adicionar Entrada
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                {% if context.entries %}
                                <div class='table-responsive'>
                                    <table class='table align-middle table-nowrap mb-0'>
                                        <thead class='table-light'>
                                        <tr>
                                            <th class='align-middle'>Data</th>
                                            <th class='align-middle'>Estabelecimento</th>
                                            <th class='align-middle'>Descrição</th>
                                            <th class='align-middle'>Categorias</th>
                                            <th style='text-align: right;'>Valor</th>
                                            <th style='text-align: right;'>Saldo no Dia</th>
                                            <th class='align-middle'>Status</th>
                                            <th class='align-middle'></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in context.entries %}
                                            {% include 'board/pages/index_entries.html' %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end table-responsive -->
                                <form action="{{ url_for('board.index') }}" method='get'>
                                    <input type='hidden' name='m' value='{{ context.filter.month }}'/>
                                    <input type='hidden' name='y' value='{{ context.filter.year }}'/>
                                    <ul class='pagination pagination-rounded justify-content-end mb-2'>
                                        <li class='page-item {% if context.pages.pg == 1 %}disabled{% endif %}'>
                                            <button class='page-link' type='submit' name='pg' value='1'
                                                    aria-label='First'>
                                                <i class='mdi mdi-chevron-double-left'></i>
                                            </button>
                                        </li>
                                        {% for item in context.pages.pg_range %}
                                        <li class='page-item {% if context.pages.pg == item %}active{% endif %}'>
                                            <button class='page-link' type='submit' name='pg' value='{{ item }}'>{{ item
                                                }}
                                            </button>
                                        </li>
                                        {% endfor %}
                                        <li class='page-item {% if context.pages.pg == context.pages.total_pg %}disabled{% endif %}'>
                                            <button class='page-link' type='submit' name='pg'
                                                    value='{{ context.pages.total_pg }}' aria-label='Last'>
                                                <i class='mdi mdi-chevron-double-right'></i>
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                                <!-- end page footer -->
                                {% else %}
                                <div class='table-responsive'>
                                    <div class='card-body'>Nenhuma entrada registrada para o período de tempo
                                        selecionado.
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
</body>

{% include 'board/partials/footer.html' %}

<!-- newEntryModal Modal -->
{% include 'board/pages/index_modal_new_transaction.html' %}
<!-- end newEntryModal -->

<!-- labelEditModal Modal -->
{% include 'board/pages/index_modal_edit_transaction.html' %}
<!-- end labelEditModal -->

<!-- labelEditModal Modal -->
{% include 'board/pages/index_modal_remove_transaction.html' %}
<!-- end labelEditModal -->