{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
<div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start main content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
        <div class='page-content'>
            <div class='container-fluid'>

                <!-- start page title -->
                <div class='row'>
                    <div class='col-12'>
                        <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                            <h4 class='mb-sm-0 font-size-18'>Painel</h4>
                            <div class='page-title-right'>
                                <ol class='breadcrumb m-0'>
                                    <li class='breadcrumb-item'>Na Tela</li>
                                    <li class='breadcrumb-item active'>Barra Lateral</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class='col-xl'>
                    <div class='row'>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Entradas</p>
                                            <h4 class='mb-0 text-success'>
                                                R$ {% if context.analytic %}{{ context.analytic.incomes|format_currency
                                                }}{%
                                                else %}0,00{% endif %}
                                            </h4>
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-call-received font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Saídas</p>
                                            <h4 class='mb-0 text-danger'>
                                                R$ {% if context.analytic %}{{ context.analytic.expenses|format_currency
                                                }}{%
                                                else %}0,00{% endif %}
                                            </h4>
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-call-made font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Balanço Mensal</p>

                                            {% if context.analytic %}
                                            {% if context.analytic.balance < 0 %}
                                            <h4 class='mb-0 text-danger'>
                                                R$ {{ context.analytic.balance|format_currency }}
                                            </h4>
                                            {% else %}
                                            <h4 class='mb-0 text-success'>
                                                R$ {{ context.analytic.balance|format_currency }}
                                            </h4>
                                            {% endif %}
                                            {% else %}
                                            <h4 class='mb-0'>
                                                R$ 0,00
                                            </h4>
                                            {% endif %}
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-cached font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3'>
                            <div class='card mini-stats-wid'>
                                <div class='card-body'>
                                    <div class='d-flex'>
                                        <div class='flex-grow-1'>
                                            <p class='text-muted fw-medium'>Saldo Atual</p>
                                            {% if context.analytic %}
                                            {% if context.analytic.overall < 0 %}
                                            <h4 class='mb-0 text-danger'>
                                                R$ {{ context.analytic.overall|format_currency }}
                                            </h4>
                                            {% else %}
                                            <h4 class='mb-0 text-success'>
                                                R$ {{ context.analytic.overall|format_currency }}
                                            </h4>
                                            {% endif %}
                                            {% else %}
                                            <h4 class='mb-0'>
                                                R$ 0,00
                                            </h4>
                                            {% endif %}
                                        </div>
                                        <div class='flex-shrink-0 align-self-center'>
                                            <div class='avatar-sm rounded-circle bg-primary mini-stat-icon'>
                          <span class='avatar-title rounded-circle bg-primary'>
                            <i class='mdi mdi-contrast font-size-24'></i>
                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>

                {% if success %}
                <div class='alert alert-success mb-4 text-center' role='alert'>{{ success }}</div>
                {% elif error %}
                <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                {% endif %}

                <div class='row'>
                    <div class='col-lg-12'>
                        <div class='card'>
                            <div class='card-body'>
                                <div id='right'>
                                    <div id='menu' class='mb-3'>
                                        <span id='menu-navi'
                                              class='d-sm-flex flex-wrap text-center text-sm-start justify-content-sm-between'>
                                            <div class='d-sm-flex flex-wrap gap-1'>
                                                <div class='btn-group mb-2' role='group' aria-label='Basic example'>
                                                    <button type='button' class='btn btn-primary move-month'
                                                            data-value='move-prev'>
                                                        <i class='calendar-icon ic-arrow-line-left mdi mdi-chevron-left'
                                                           data-action='move-prev'></i>
                                                    </button>
                                                    <button type='button' class='btn btn-primary move-month'
                                                            data-value='move-next'>
                                                        <i class='calendar-icon ic-arrow-line-right mdi mdi-chevron-right'
                                                           data-action='move-next'></i>
                                                    </button>
                                                </div>
                                                <div class='dropdown mb-2'>
                                                    <button class='btn btn-primary dropdown-toggle' type='button'
                                                            data-bs-toggle='dropdown' aria-haspopup='true'
                                                            aria-expanded='false'>Ir Para
                                                    </button>
                                                    <div class='dropdown-menu dropdown-menu-md dropdown-menu-start'>
                                                        <div class='form-group m-0 p-3'>
                                                            <div class='input-group'>
                                                                <input type='text' class='form-control mask_date_short'
                                                                       id='goto'
                                                                       placeholder='MM/YYYY'>
                                                                <button class='btn btn-primary move-month' type='button'
                                                                        data-value='goto'><i
                                                                        class='mdi mdi-magnify'></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type='button' class='btn btn-primary move-today mb-2'
                                                        data-action='move-today'>Atual</button>
                                            </div>
                                            <h4 class='render-range fw-bold pt-1 mx-3'>{{
                                                context.filter.displayed_str|upper }}</h4>
                                            <input type='hidden' id='renderRange'
                                                   value='{{ context.filter.displayed_int }}'/>
                                            <div class='dropdown align-self-start mt-3 mt-sm-0 mb-2'>
                                                <button class='btn btn-primary dropdown-toggle' type='button'
                                                        data-bs-toggle='modal'
                                                        data-bs-target='.newEntryModal'>
                                                    <i class='mdi mdi-plus'></i> Adicionar Entrada
                                                </button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                {% if context.entries %}
                                <div class='table-responsive'>
                                    <table class='table align-middle table-nowrap mb-0'>
                                        <thead class='table-light'>
                                        <tr>
                                            <th class='align-middle'>Data</th>
                                            <th class='align-middle'>Estabelecimento</th>
                                            <th class='align-middle'>Descrição</th>
                                            <th class='align-middle'>Categoria</th>
                                            <th style='text-align: right;'>Valor</th>
                                            <th style='text-align: right;'>Saldo no Dia</th>
                                            <th class='align-middle'>Status</th>
                                            <th class='align-middle'></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in context.entries %}
                                        <tr class={% if row.tra_amount
                                        < 0 %}"text-danger"{% else %}"text-success"
                                        {% endif %}>
                                        <td>{{ row.tra_entry_date|format_date }}</td>
                                        <td>{{ row.est_name|upper }}</td>
                                        <td>{{ row.tra_description|upper }}</td>
                                        <td>{{ row.cat_name|upper }}</td>
                                        <td style='text-align: right;'>{{ row.tra_amount|format_currency }}</td>
                                        <td style='text-align: right;'>{{ row.cumulative_balance|format_currency}}</td>
                                        <td>
                                            {% if row.tra_situation == 1 %}
                                            <span class='badge badge-pill badge-soft-primary font-size-12'>Pago</span>
                                            {% elif row.tra_situation == 2 %}
                                            <span class='badge badge-pill badge-soft-secondary font-size-12'>Aberto</span>
                                            {% elif row.tra_situation == 3 %}
                                            <span class='badge badge-pill badge-soft-danger font-size-12'>Em Negociação</span>
                                            {% elif row.tra_situation == 4 %}
                                            <span class='badge badge-pill badge-soft-success font-size-12'>Recebido</span>
                                            {% elif row.tra_situation == 5 %}
                                            <span class='badge badge-pill badge-soft-warning font-size-12'>Agendado</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a data-bs-toggle='modal' data-bs-target='.labelEditModal'
                                               class='text-success index_edit' style='cursor:pointer;'
                                               data-value='{{ row.id }}'><i
                                                    class='mdi mdi-pencil font-size-18'></i></a>

                                            <a data-bs-toggle='modal' data-bs-target='.labelRemoveModal'
                                               class='text-danger index_del' style='cursor:pointer;'
                                               data-value='{{ row.id }}'><i
                                                    class='mdi mdi-delete font-size-18'></i></a>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end table-responsive -->
                                <form action="{{ url_for('board.index') }}" method='get'>
                                    <input type='hidden' name='m' value='{{ context.filter.month }}'/>
                                    <input type='hidden' name='y' value='{{ context.filter.year }}'/>
                                    <ul class='pagination pagination-rounded justify-content-end mb-2'>
                                        <li class='page-item {% if context.pages.pg == 1 %}disabled{% endif %}'>
                                            <button class='page-link' type='submit' name='pg' value='1'
                                                    aria-label='First'>
                                                <i class='mdi mdi-chevron-double-left'></i>
                                            </button>
                                        </li>
                                        {% for item in context.pages.pg_range %}
                                        <li class='page-item {% if context.pages.pg == item %}active{% endif %}'>
                                            <button class='page-link' type='submit' name='pg' value='{{ item }}'>{{ item
                                                }}
                                            </button>
                                        </li>
                                        {% endfor %}
                                        <li class='page-item {% if context.pages.pg == context.pages.total_pg %}disabled{% endif %}'>
                                            <button class='page-link' type='submit' name='pg'
                                                    value='{{ context.pages.total_pg }}' aria-label='Last'>
                                                <i class='mdi mdi-chevron-double-right'></i>
                                            </button>
                                        </li>
                                    </ul>
                                </form>
                                <!-- end page footer -->
                                {% else %}
                                <div class='table-responsive'>
                                    <div class='card-body'>Nenhuma entrada registrada para o período de tempo
                                        selecionado.
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
</body>

{% include 'board/partials/footer.html' %}

<!-- newEntryModal Modal -->
<div class='modal fade newEntryModal' id='newEntryModal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Adicionar Nova Entrada</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form class='needs-validation' action="{{ url_for('board.index') }}" novalidate method='post'>
                {{ csrf_token }}
                <input type='hidden' name='m' value='{{ context.filter.month }}'/>
                <input type='hidden' name='y' value='{{ context.filter.year }}'/>
                <div class='modal-body'>
                    <div class='content mt-1'>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='entry_date' class='form-label'>Data de Entrada<span class='text-danger'>*</span></label>
                                    <input type='date' class='form-control valid_date' id='entry_date' name='entry_date'
                                           value='{{ date_now() }}' required>
                                    <div class='invalid-feedback'>Por favor ensira a data de entrada</div>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='category' class='form-label'>Categoria<span class='text-danger'>*</span></label>
                                    <select class='form-select category_modal' id='category' name='category' required>
                                        {% if context.categories %}
                                        {% for row in context.categories %}
                                        {% if row.id == 0 %}
                                        <option value='{{ row.id }}' selected>{{ row.cat_name }}</option>
                                        {% endif %}
                                        <option value='{{ row.id }}'>{{ row.cat_name }}</option>
                                        {% endfor %}
                                        {% else %}
                                        <option value='' selected disabled>Registre uma categoria antes de continuar
                                        </option>
                                        {% endif %}
                                    </select>
                                    <div class='invalid-feedback'>Selecione uma categoria</div>
                                </div>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col-lg-12'>
                                <div class='mb-3'>
                                    <label for='description' class='form-label'>Descrição | Observações</label>
                                    <input type='text' class='form-control valid_opt_entry' id='description'
                                           name='description'
                                           placeholder='Insira suas Observações' maxlength='128'>
                                    <div class='invalid-feedback'></div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='establishment' class='form-label'>Estabelecimento<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='establishment' name='establishment' required>
                                        {% if context.establishments %}
                                        {% for row in context.establishments %}

                                        {% if row.id == 0 %}
                                        <option value='{{ row.id }}' selected>{{ row.est_name }}</option>
                                        {% endif %}

                                        <option value='{{ row.id }}'>{{ row.est_name }}</option>
                                        {% endfor %}
                                        {% else %}
                                        <option value='' selected disabled>Registre um estabelecimento antes de
                                            continuar
                                        </option>
                                        {% endif %}
                                    </select>
                                    <div class='invalid-feedback'>Selecione um estabelecimento, mesmo que seja você
                                        mesmo
                                    </div>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='account' class='form-label'>Conta<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='account' name='account' required>
                                        {% if context.accounts %}
                                        {% for row in context.accounts %}

                                        {% if row.id == 0 %}
                                        <option value='{{ row.id }}' selected>{{ row.acc_name|upper }}</option>
                                        {% endif %}

                                        <option value='{{ row.id }}'>
                                            {{ row.acc_name|upper }}
                                        </option>
                                        {% endfor %}
                                        {% else %}
                                        <option value='' selected disabled>Registre uma conta antes de continuar
                                        </option>
                                        {% endif %}
                                    </select>
                                    <div class='invalid-feedback'>Selecione uma conta, mesmo que seja em dinheiro</div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg'>
                                <div class='mb-3'>
                                    <label for='type_transaction' class='form-label'>Tipo<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='type_transaction' name='type_transaction'>
                                        <option value='1'>Entrada</option>
                                        <option value='2' selected>Saída</option>
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg'>
                                <div class='mb-3'>
                                    <label for='situation' class='form-label'>Estado<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='situation' name='situation'>
                                        <option value='1' selected>Pago</option>
                                        <option value='2'>Aberto</option>
                                        <option value='3'>Em Negociação</option>
                                        <option value='4'>Recebido</option>
                                        <option value='5'>Agendado</option>
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg'>
                                <div class='mb-3'>
                                    <label for='amount' class='form-label'>Quantia<span
                                            class='text-danger'>*</span></label>
                                    <input type='text' class='form-control mask_money' id='amount' name='amount'
                                           placeholder='Digite o valor da entrada' required>
                                    <div class='invalid-feedback'>Digite o valor da entrada</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='submit' class='btn btn-primary'>Adicionar Entrada</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end newEntryModal -->

<!-- labelEditModal Modal -->
<div class='modal fade labelEditModal' id='labelEditModal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered modal-lg' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Editar Entrada</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form class='needs-validation' method='post' action="{{ url_for('board.index') }}" novalidate>
                <input type='hidden' name='_method' value='PUT'/>
                {{ csrf_token }}
                <input type='hidden' id='edit_index' name='edit_index'/>
                <div class='modal-body'>
                    <div class='content mt-1'>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='modal_entry_date' class='form-label'>Data de Entrada<span
                                            class='text-danger'>*</span></label>
                                    <input type='date' class='form-control valid_date_nd entry_val' id='modal_entry_date'
                                           name='modal_entry_date' value='' required>
                                    <div class='invalid-feedback'>Insira a data de entrada</div>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='category' class='form-label'>Categoria<span class='text-danger'>*</span></label>
                                    <select class='form-select category_modal_edit' id='category_edit'
                                            name='category_edit' required>
                                        {% for row in context.categories %}
                                        <option value='{{ row.id }}'>{{ row.cat_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class='invalid-feedback'>Por favor, selecione uma categoria</div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <div class='mb-3'>
                                    <label for='description_edit' class='form-label'>Descrição | Observações</label>
                                    <input type='text' class='form-control valid_opt_entry_nd note_modal'
                                           id='description_edit' name='description_edit'
                                           placeholder='Insira suas Observações' maxlength='128'>
                                    <div class='invalid-feedback'></div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='establishment_edit' class='form-label'>Estabelecimento<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select modal_establishment_name' id='establishment_edit'
                                            name='establishment_edit' required>
                                        {% for row in context.establishments %}
                                        <option value='{{ row.id }}'>{{ row.est_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg-6'>
                                <div class='mb-3'>
                                    <label for='account' class='form-label'>Conta<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select' id='account' name='account' required>
                                        {% for row in context.accounts %}
                                        <option value='{{ row.id }}'>
                                            {% if row.acc_is_bank %}
                                            {{ row.acc_bank_name|upper }} | {{ row.acc_bank_branch }} |
                                            {{ row.acc_bank_account }} | ({{ row.acc_name|upper }})
                                            {% else %}
                                            {{ row.acc_name|upper }} | {{ row.acc_description|upper }}
                                            {% endif %}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <div class='invalid-feedback'>Selecione uma conta, mesmo que seja em dinheiro</div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg'>
                                <div class='mb-3'>
                                    <label for='type_transaction' class='form-label'>Tipo<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select type_transaction_modal' id='type_transaction'
                                            name='type_transaction'>
                                        <option value='1'>Entrada</option>
                                        <option value='2'>Saída</option>
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg'>
                                <div class='mb-3'>
                                    <label for='situation' class='form-label'>Estado<span
                                            class='text-danger'>*</span></label>
                                    <select class='form-select situation_modal' id='situation' name='situation'>
                                        <option value='1' selected>Pago</option>
                                        <option value='2'>Aberto</option>
                                        <option value='3'>Em Negociação</option>
                                        <option value='4'>Recebido</option>
                                        <option value='5'>Agendado</option>
                                    </select>
                                </div>
                            </div>
                            <div class='col-lg'>
                                <div class='mb-3'>
                                    <label for='amount_edit' class='form-label'>Quantia<span
                                            class='text-danger'>*</span></label>
                                    <input type='text' class='form-control mask_money amount_modal' id='amount_edit'
                                           name='amount_edit' placeholder='Insira o valor da entrada' required>
                                    <div class='invalid-feedback'>Insira o valor da entrada</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <button type='submit' class='btn btn-primary'>Editar Entrada</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end labelEditModal -->

<!-- labelRemoveModal Modal -->
<div class='modal fade labelRemoveModal' id='labelRemoveModal' tabindex='-1' role='dialog' aria-hidden='true'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Remover Registro</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <form class='needs-validation' action="{{ url_for('board.index') }}" novalidate method='post'>
                <input type='hidden' name='_method' value='DELETE'/>
                {{ csrf_token }}
                <input type='hidden' id='del_index' name='del_index'/>
                <div class='modal-body'>
                    <p class='mb-4'>Tem certeza de que deseja prosseguir com a remoção deste registro?</p>
                    <div class='form-row col-md d-flex justify-content-between'>
                        <input type='hidden' id='modal_entry_date_delete' name='modal_entry_date_delete'/>
                        <p class='mb-2 modal_entry_date'>Data: <span
                                class='text-primary'></span></p>
                        <span class='modal_entry_status badge badge-pill font-size-12 mb-2'></span>
                    </div>
                    <p class='mb-2 modal_entry_amount'>Quantia: <span class='text-primary'></span></p>
                    <p class='mb-2 modal_entry_type'>Tipo: <span class='text-primary'></span></p>
                    <p class='mb-2 modal_entry_description'>Descrição: <span class='text-primary'></span></p>
                    <p class='mb-2 modal_category_name'>Categoria: <span class='text-primary'></span></p>
                    <p class='mb-4 modal_establishment_name'>Estabelecimento: <span class='text-primary'></span></p>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary waves-effect' data-bs-dismiss='modal'>Cancelar
                    </button>
                    <button type='submit' class='btn btn-primary waves-effect waves-light'>Remover Registro</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end labelRemoveModal -->