<tr class={% if row.tra_amount < 0 %} "text-danger" {% elif row.tra_amount == 0 %} "text-warning" {% else %}
"text-success" {% endif %}>
<td>{{ row.tra_entry_date|format_date }}</td>
<td>{{ row.est_name|upper }}</td>
<td>{{ row.tra_description|upper }}</td>
<td>
    {% for category in row.categories_entry %}
    {% if row.tra_amount > 0 %}
    <span class='badge badge-pill badge-soft-success font-size-12'>
                                                                    {{ category.cat_name|lower }}
                                                                </span>
    {% else %}
    <span class='badge badge-pill badge-soft-danger font-size-12'>
                                                                    {{ category.cat_name|lower }}
                                                                </span>
    {% endif %}
    {% endfor %}
</td>

<td style='text-align: right;'>{{ row.tra_amount|format_currency }}</td>
<td style='text-align: right;'>{{ row.cumulative_balance|format_currency}}</td>
<td>
    {% if row.tra_situation == 1 %}
    <span class='badge badge-pill badge-soft-primary font-size-12'>Pago</span>
    {% elif row.tra_situation == 2 %}
    <span class='badge badge-pill badge-soft-secondary font-size-12'>Aberto</span>
    {% elif row.tra_situation == 3 %}
    <span class='badge badge-pill badge-soft-danger font-size-12'>Em Negociação</span>
    {% elif row.tra_situation == 4 %}
    <span class='badge badge-pill badge-soft-success font-size-12'>Recebido</span>
    {% elif row.tra_situation == 5 %}
    <span class='badge badge-pill badge-soft-warning font-size-12'>Agendado</span>
    {% elif row.tra_situation == 6 %}
    <span class='badge badge-pill badge-soft-secondary font-size-12'>Cartão de Crédito</span>
    {% endif %}
</td>
<td>
    {% if row.is_receipt %}
        <a class='text-success'>
           <i class="mdi mdi-pencil-off font-size-18"></i>
        </a>
        <a class='text-danger'>
           <i class="mdi mdi-delete-off font-size-18"></i>
        </a>
    {% else %}
        <a data-bs-toggle='modal' data-bs-target='.labelEditModal'
           class='text-success index_edit' style='cursor:pointer;'
           data-value='{{ row.id }}'><i
                class='mdi mdi-pencil font-size-18'></i></a>

        <a data-bs-toggle='modal' data-bs-target='.labelRemoveModal'
           class='text-danger index_del' style='cursor:pointer;'
           data-value='{{ row.id }}'><i
                class='mdi mdi-delete font-size-18'></i></a>
    {% endif %}
</td>
</tr>