{% include 'board/partials/header.html' %}
{% include 'board/partials/sidebar.html' %}

<body data-topbar='dark'>
<div id='layout-wrapper'>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class='main-content'>
        <div class='page-content'>
            <div class='container-fluid'>
                <!-- start page title -->
                <div class='row'>
                    <div class='col-12'>
                        <div class='page-title-box d-sm-flex align-items-center justify-content-between'>
                            <h4 class='mb-sm-0 font-size-18'>Upload</h4>
                            <div class='page-title-right'>
                                <ol class='breadcrumb m-0'>
                                    <li class='breadcrumb-item'>Menu</li>
                                    <li class='breadcrumb-item active'>Upload</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class='row'>
                    <div class='col-md'>
                        <div class='card'>
                            <div class='card-body'>
                                {% if success %}
                                <div class='alert alert-success mb-4' role='alert'>{{ success }}</div>
                                {% elif error %}
                                <div class='alert alert-danger mb-4' role='alert'>{{ error|safe }}</div>
                                {% endif %}
                                <div class='row mb-2'>
                                    <div class='col-sm'>
                                        <h4 class='card-title'>Faça o download do arquivo de exemplo</h4>
                                    </div>
                                </div>
                                    <div class='d-flex flex-wrap gap-2'>
                                        <a href="{{ url_for('static', filename='board/files/exemplo.csv') }}"
                                           download="exemplo.csv" class="btn btn-success waves-effect waves-light">
                                            exemplo.csv
                                        </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md'>
                        <div class='card'>
                            <div class='card-body'>
                                <div class='row mb-2'>
                                    <div class='col-sm'>
                                        <h4 class='card-title'>Preencha o arquivo e faça o upload abaixo</h4>
                                    </div>
                                </div>
                                <form action="{{ url_for('board.upload') }}" method="POST"
                                      enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="upload_file" class="form-label">Selecionar arquivo</label>
                                        <input class="form-control" type="file" id="upload_file" name="upload_file" required>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Enviar arquivo</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md'>
                        <div class='card'>
                            <div class='card-body ml-5'>
                                <div class='row mb-2'>
                                    <div class='col-sm'>
                                        <h4 class='card-title text-danger'>Observações sobre a importação de
                                            registros</h4>
                                    </div>
                                </div>
                                <p class='mb-2'>&#9679; A ordem e o nome das colunas não devem ser alterados; </p>
                                <p class='mb-2'>&#9679; Registros negativos são tratados como "Entrada"; </p>
                                <p class='mb-2'>&#9679; Registros positivos são tratados como "Saída"; </p>
                                <p class='mb-2'>&#9679; Transações com valor 0,00 serão ignoradas; </p>
                                <p class='mb-2'>&#9679; Para vincular categorias a uma mesma transação, separar por
                                    virgula;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
</body>

{% include 'board/partials/footer.html' %}