<!-- JAVASCRIPT -->
<script src="{{ url_for('static', filename='global/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/metismenu/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='global/libs/node-waves/waves.min.js') }}"></script>

<!-- controllers -->
<script src="{{ url_for('static', filename='auth/js/theme.min.js') }}"></script>

<!-- validation init -->
<script src="{{ url_for('static', filename='global/js/validation.init.js') }}"></script>

<!-- two-step-verification js -->
<script src="{{ url_for('static', filename='auth/js/two-step-verification.init.js') }}"></script>

<!-- App js -->
<script src="{{ url_for('static', filename='global/js/app.js') }}"></script>

<!-- Sw js -->
<!--<script src="{{ url_for('static', filename='global/js/pwabuilder-sw.js') }}"></script>-->
<script src="{{ url_for('static', filename='global/js/register-sw.js') }}"></script>

<!--<script>-->
<!--  if ('serviceWorker' in navigator) {-->
<!--    navigator.serviceWorker.register('/service-worker.js')-->
<!--      .then(function(registration) {-->
<!--        console.log('Service Worker registrado com sucesso:', registration);-->
<!--      })-->
<!--      .catch(function(error) {-->
<!--        console.log('Falha ao registrar o Service Worker:', error);-->
<!--      });-->
<!--  }-->
<!--</script>-->

</html>