<footer class='footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-6'></div>
      <div class='col-sm-6'>
        <div class='text-sm-end d-none d-sm-block'>
          {% include 'global/global_bottom.html' %}
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- JAVASCRIPT -->
<script src="{{ url_for('static.serve_static', filename='global/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static.serve_static', filename='global/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static.serve_static', filename='global/libs/metismenu/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static.serve_static', filename='global/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static.serve_static', filename='global/libs/node-waves/waves.min.js') }}"></script>

<!-- jquery.mask -->
<script src="{{ url_for('static.serve_static', filename='board/libs/jquery-mask-plugin/jquery.mask.min.js') }}"></script>

<!-- form repeater js -->
<script src="{{ url_for('static.serve_static', filename='board/libs/jquery.repeater/jquery.repeater.min.js') }}"></script>

<!-- select2 -->
<script src="{{ url_for('static.serve_static', filename='board/libs/select2/js/select2.min.js') }}"></script>

<!-- spectrum -->
<script src="{{ url_for('static.serve_static', filename='board/libs/spectrum/spectrum.min.js') }}"></script>

<!-- datepicker -->
<script src="{{ url_for('static.serve_static', filename='board/libs/datepicker/datepicker.min.js') }}"></script>

<!-- timepicker -->
<script src="{{ url_for('static.serve_static', filename='board/libs/timepicker/timepicker.min.js') }}"></script>

<!-- touchspin -->
<script src="{{ url_for('static.serve_static', filename='board/libs/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

<!-- maxlength -->
<script src="{{ url_for('static.serve_static', filename='board/libs/maxlength/maxlength.min.js') }}"></script>

<!-- apexCharts -->
<script src="{{ url_for('static.serve_static', filename='board/libs/apexcharts/apexcharts.min.js') }}"></script>
<!--<script src="{{ url_for('static.serve_static', filename='board/libs/apexcharts/apexcharts.common.js') }}"></script>-->
<!--<script src="{{ url_for('static.serve_static', filename='board/libs/apexcharts/apexcharts.amd.js') }}"></script>-->
<!--<script src="{{ url_for('static.serve_static', filename='board/libs/apexcharts/apexcharts.esm.js') }}"></script>-->

<!-- controllers -->
<script src="{{ url_for('static.serve_static', filename='board/js/theme.min.js') }}"></script>

<!-- moment js -->
<script src="{{ url_for('static.serve_static', filename='global/libs/moment/moment.min.js') }}"></script>

<!-- app js -->
<script src="{{ url_for('static.serve_static', filename='global/js/app.js') }}"></script>

<!-- advance form init -->
<script src="{{ url_for('static.serve_static', filename='board/js/form-advanced.init.js') }}"></script>

<!-- dashboard init -->
<script src="{{ url_for('static.serve_static', filename='board/js/dashboard.init.js') }}"></script>

<!-- form-repeater init -->
<script src="{{ url_for('static.serve_static', filename='board/js/form-repeater.int.js') }}"></script>

<!-- validation init -->
<script src="{{ url_for('static.serve_static', filename='global/js/validation.init.js') }}"></script>

<script src="{{ url_for('static.serve_static', filename='global/js/register-sw.js') }}"></script>

</html>