<!doctype html>
<html lang='pt-br'>

   {% include 'global/global_head.html' %}

    <!-- select2 css -->
    <link href="{{ url_for('static', filename='board/libs/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- spectrum css -->
    <link href="{{ url_for('static', filename='board/libs/spectrum/spectrum.min.css') }}" rel="stylesheet"
          type="text/css" />
    <!-- timepicker css -->
    <link href="{{ url_for('static', filename='board/libs/timepicker/timepicker.min.css') }}" rel="stylesheet"
          type="text/css" />
    <!-- touchspin css -->
    <link href="{{ url_for('static', filename='board/libs/touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet"
          type="text/css" />
    <!-- apexcharts css -->
    <link href="{{ url_for('static', filename='board/libs/apexcharts/apexcharts.css') }}" rel="stylesheet"
          type="text/css" />
    <!-- select2 css for categories multiple on new entry modal -->
    <link href="{{ url_for('static', filename='board/css/custom-select2.css') }}" rel="stylesheet" type="text/css" />
  </head>